In [3]:
%load_ext autoreload 
%autoreload 2

In [4]:
from TaxiFareModel.data_ import get_data, clean_data

In [6]:
d = clean_data(get_data())

In [8]:
from TaxiFareModel.trainer import Trainer

In [13]:
a = Trainer(d[0],d[1])

In [14]:
a.X

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...
9994,2010-08-27 08:45:01.0000004,2010-08-27 08:45:01 UTC,-73.983616,40.756005,-73.976169,40.763282,1
9995,2011-10-26 10:44:00.00000086,2011-10-26 10:44:00 UTC,-73.988277,40.748970,-73.963712,40.773958,2
9996,2011-12-16 15:37:00.000000179,2011-12-16 15:37:00 UTC,-74.002112,40.748727,-73.992467,40.756252,1
9997,2013-11-16 22:47:17.0000001,2013-11-16 22:47:17 UTC,-73.992093,40.729071,-73.974470,40.763050,2
9998,2010-01-28 11:38:00.00000022,2010-01-28 11:38:00 UTC,-73.992548,40.735652,-73.998802,40.723085,1

In [8]:
len(d)

2

In [16]:
a.set_pipeline()

In [17]:
a.run()

In [18]:
a.evaluate()

5.648552850167166

In [19]:
a.evaluate()

5.648552850167166

In [20]:
from sklearn.model_selection import train_test_split