In [1]:
%load_ext autoreload 
%autoreload 2

In [2]:
from ..TaxiFareModel.data_ import get_data

ImportError: attempted relative import with no known parent package

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../raw_data/train_1k.csv')

In [4]:
df

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
...,...,...,...,...,...,...,...,...
995,2011-07-30 07:33:13.0000001,16.9,2011-07-30 07:33:13 UTC,-73.884801,40.755707,-73.980472,40.765556,1
996,2011-09-24 23:20:00.000000112,13.7,2011-09-24 23:20:00 UTC,-73.953603,40.779203,-73.995763,40.726701,3
997,2011-12-22 11:07:00.00000037,29.3,2011-12-22 11:07:00 UTC,-73.942380,40.837712,-73.864372,40.769985,2
998,2014-11-03 12:40:00.00000014,6.5,2014-11-03 12:40:00 UTC,-73.961151,40.774578,-73.972251,40.785640,1
999,2012-05-18 18:41:30.0000006,10.9,2012-05-18 18:41:30 UTC,-73.988455,40.758432,-73.983816,40.730147,1

In [7]:
from TaxiFareModel.data_ import get_data, clean_data

In [8]:
clean_data(get_data())

(                               key          pickup_datetime  pickup_longitude  \
 0      2009-06-15 17:26:21.0000001  2009-06-15 17:26:21 UTC        -73.844311
 1      2010-01-05 16:52:16.0000002  2010-01-05 16:52:16 UTC        -74.016048
 2     2011-08-18 00:35:00.00000049  2011-08-18 00:35:00 UTC        -73.982738
 3      2012-04-21 04:30:42.0000001  2012-04-21 04:30:42 UTC        -73.987130
 4    2010-03-09 07:51:00.000000135  2010-03-09 07:51:00 UTC        -73.968095
 ..                             ...                      ...               ...
 995    2011-07-30 07:33:13.0000001  2011-07-30 07:33:13 UTC        -73.884801
 996  2011-09-24 23:20:00.000000112  2011-09-24 23:20:00 UTC        -73.953603
 997   2011-12-22 11:07:00.00000037  2011-12-22 11:07:00 UTC        -73.942380
 998   2014-11-03 12:40:00.00000014  2014-11-03 12:40:00 UTC        -73.961151
 999    2012-05-18 18:41:30.0000006  2012-05-18 18:41:30 UTC        -73.988455

      pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
 0          40.721319         -73.841610         40.712278                1
 1          40.711303         -73.979268         40.782004                1
 2          40.761270         -73.991242         40.750562                2
 3          40.733143         -73.991567         40.758092                1
 4          40.768008         -73.956655         40.783762                1
 ..               ...                ...               ...              ...
 995        40.755707         -73.980472         40.765556                1
 996        40.779203         -73.995763         40.726701                3
 997        40.837712         -73.864372         40.769985                2
 998        40.774578         -73.972251         40.785640                1
 999        40.758432         -73.983816         40.730147                1

 [837 rows x 7 columns],
 0       4.5
 1      16.9
 2       5.7
 3       7.7
 4       5.3
        ...
 995    16.9
 996    13.7
 997    29.3
 998     6.5
 999    10.9
 Name: fare_amount, Length: 837, dtype: float64)